/* General style sheet */

-/* Fonts */
-@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* General */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, Ubuntu,
 Helvetica, Arial, sans-serif;

  background-color: #e6dbc9;
}

html, body {
  min-width: 18rem;
  padding: 1.5rem;
}

body {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  font-size: 1.25rem;
  color: #333;
}

/* Headings */

h1, h2, h3 { line-height: 1 }
header > h1 { font-size: 4rem; margin-top: 0; margin-bottom: 0; }
h1 { font-size: 3rem; }
:not(header) > h1 { line-height:1.25; }
h2 { font-size: 2rem; }
h2 { margin-top: 2.5rem; margin-bottom: 1.5rem;}
h3 { font-size: 1.5rem; line-height: 1.25; margin-top: 2rem; }

time.single {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  color: gray;
  text-align: left;
  margin-top: -0.3rem;
}

/* Stop subscripts and superscripts from changing the line height.
   Courtesy of https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

/* Figures and images */

img {
  max-width: 100%;
}


/* For windows with shadow, tighten up the spacing even further. */
h3 + figure.window-with-shadow {
  margin-top: -0.5rem;
}

/* Specialisations */

figure.half-width-flush-right {
  width: 47.5%;
  margin-left: 5%;
  float: right;
  margin-top: 0.5rem; /* get the top to line up with text */
  margin-bottom: 0;
}


/* Block quotes */

blockquote {
  margin-left: -1.3rem;
  border-left: 0.3rem solid lightgray;
  padding-left: 1rem;
  font-style: italic;
  color: slategray;
}

blockquote a {
  color: slategray;
}

/* Code */

pre, code {
  font-family: "SFMono-Regular",
  Consolas,
  "Fira Code",
  "Liberation Mono",
  Menlo,
  Courier,
  monospace;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

pre {
  background-color: #ACB7AE;

  /* Make sure preformatted text wraps. */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

pre > code {
  font-size: 0.9rem;
}

:not(pre) > code {
  color: darkcyan;
  font-weight: 500;
}

/* Links */

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid lightcoral;
}

header > a {
  border: none;
}

/* Lists */

ol, ul {
  padding-left: 0;
}

li::marker {
  font-size: 1.5rem;
  color: darkgray;
}

.posttitle {
  max-width: 100%;
  overflow: auto;
}

.pre-june {
  grid-column: 1 / 3;
}

/* Tables */

/* Make tables display with striped row borders overflowing the flush left alignment of the text just like we do with lists and code blocks for consistency. */
table {
  width: 100%;
  border-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

th:first-of-type, td:first-of-type {
  padding-left: 1rem;
  padding-right: 1rem;
}

th {
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 3px solid gray;
}

/* Hack to add space between thead and tbody (https://stackoverflow.com/a/10762599) */
tbody::before
{
  content: '';
  display: block;
  height: 0.5rem;
}

td {
  padding-top: 1em;
  padding-bottom: 1em;
}

tr > td:first-child {
  font-weight: bold;
}

/* Stripes */
tr:nth-child(2n) {
  background-color: #eee;
}

/* Special styles */

/* Warnings */
.important-warning {
  /* Make any icons inside align properly to text flow. */
  display: flex;
  align-items: center;

  background-color: darkred;
  color: white;

  border-radius: 1rem;

  /* Keep text flush left and bleed the background. */
  padding: 1rem;
  margin-left: -3.5rem;
  padding-left: 0rem;
  margin-right: -3.5rem;
  padding-right: 3.5rem;
}

.warning-icon {
  height: 5rem;
  display: inline-block;
  padding-left: 1rem;
  margin-right: 1rem;
  /* padding: 0; */
}

.warning-path {
  fill: white;
}

/* Images */

.hairline-border > img {
  border: 1px solid gray;
}

/* Icons */

header {
  display: grid;
  grid-template-columns: 1fr 2.25rem 2.4rem 2.25rem /*2.25rem*/;
  grid-gap: 0.25rem;
  margin-bottom: 2.7rem;
  align-items: end;
}

.email, .mastodon, .rss, .p2p {
  height: 26px;
}


/* Footer */

footer {
  border-top: 1px solid #f08080;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 6rem;
}


