<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}

  </head>
  <body>
    {{ partial "header.html" . }}
    <nav><a href='/'>Back Home</a></nav>
    <main>
      <h2>{{ .Page.Title }}</h2>
      <time class='single' datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Page.Date.Format "02 Jan 2006" }}</time>
      {{ .Content }}
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>

