<footer>
  <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#e6dbc9; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>
<div id="mc_embed_signup">
<form action="https://sundayreads.us4.list-manage.com/subscribe/post?u=7d3266fb7f04a1e13c492083b&amp;id=94c47a8c36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Let's read together</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address to join our mailing list" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7d3266fb7f04a1e13c492083b_94c47a8c36" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  <p>© 2020 Sunday Reads. Sunday Reads is an archive of <a href="https://twitter.com/kenyanpundit">Ory Okolloh's</a> curated weekly readings. Initial web design by <a href="https://ar.al/">Aral Balkan</a>. Unless otherwise stated, all source code is licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL version 3.0</a> or later and all other post content is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.</p>
</footer>


